.wave-element {
    position: relative;
    overflow: hidden;

    &__circle {
        position: absolute;
        border-radius: 50%;
        transform: scale(0);
        animation: wave-circle 1s linear;
        background-color: rgba($main-color, 0.25);
    }

    &--light {
        .wave-element__circle {
            background-color: rgba($white, 0.7);
        }
    }
}

@keyframes wave-circle {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

// cubic-bezier(0.19, 1, 0.22, 1) оч резкий кубик
